<a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="/DanielMcGrady_Resume.pdf">
    <span class='dib mr2'><i class="fas fa-download"></i></span>
    <span class=''>Download PDF</span>
</a>

<a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="mailto:daniel.p.mcgrady@gmail.com" id=''>
    <span class='dib mr2'><i class="far fa-comment"></i></span>
    Feedback
</a>

<a class="link dim dark-gray f6 f5-ns dib trigger" href="#">
    <span class='dib mr2'><i class="far fa-envelope"></i></span>
    Contact
</a>
