---
title: Resume
content:
    bio:   ../content/bio.yaml
    jobs:  ../content/jobs.yaml
    links: ../content/links.yaml
    lists: ../content/lists.yaml
---

{% extends 'src/layouts/app.html' %}

{% block content %}
    <article class='mw8 center ph5 pv4 bg-white black-70 br2'>
        <div class='content cf'>
            <header class='bio flex w-100 items-start mt3 br3 pt2'>
                <!-- Biography -->
                <div class='bio--image w-10 mr3'>
                    <img src='{{ content.bio.image }}' alt='{{ content.bio.name }}' title='{{ content.bio.name }}'>
                </div>
                <div class='bio--info w-90'>
                    <h1 class='bio--name f1 lh-title mv0 black-80 fw9'>{{ content.bio.name }}</h1>
                    <h3 class='bio--job-title f3 lh-title fw4 mt0 black-50'>{{ content.bio.job_title }}</h3>
                </div>
            </header>

            <hr>

            <!-- Contact links -->
            <section class='contact w-100'>
                <a href='mailto:{{ content.resume.email }}' class="no-underline near-white bg-animate bg-near-black hover-bg-gray inline-flex items-center ma2 ml0 tc br2 pa2">
                    <span class='dib w2 f3'><i class='fas fa-envelope-square'></i></span>
                    <span class="f6 ml1 pr2">Email</span>
                </a>

                {% for link in content.links %}
                    <a href='{{ link.url }}' class="no-underline near-white bg-animate bg-near-black hover-bg-gray inline-flex items-center ma2 tc br2 pa2">
                        <span class='dib w2 f3'><i class='{{ link.icon }}'></i></span>
                        <span class="f6 ml1 pr2">{{ link.name }}</span>
                    </a>
                {% endfor %}
            </section>

            <div class='flex'>
                <aside class='sidebar w-100 w-30-ns pr3'>
                    <!-- 3x Lists -->
                    <div class='lists'>
                        {% for list in content.lists %}
                            <hr>
                            <h3 class='headline--underline f4'>{{ list.title }}</h3>
                            <ul class='black-60 lh-copy'>
                                {% for item in list.items %}
                                    <li class='mb1'>{{ item }}</li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    </div>
                </aside>

                <main class='experience w-100 w-70-ns'>

                    <!-- Experience -->
                    <div class='summary'>
                        <hr>
                        <h3 class='headline--underline f4'>Summary</h3>
                        <span class='f5 lh-copy'>
                        {{ content.bio.summary | urlize | safe }}
                        </span>
                    </div>

                    <!-- Highlight -->
                    <div class='highlight'>
                        <article class="br3 hidden ba b--black-10 mv4">
                          <h1 class="f4 bg-lightest-blue navy br3 br--top mv0 pv2 ph3">Highlight: Erlang/Elixir Experience</h1>
                          <div class="pa3 bt b--black-10">
                            <p class="f6 f5-ns lh-copy">
                              {{ content.bio.highlight | urlize | safe }}
                              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                              tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                              vero eos et accusam et justo duo dolores et ea rebum.
                            </p>
                          </div>
                        </article>
                    </div>

                    <!-- Experience -->
                    <div class='experiences'>
                        <hr>
                        <h3 class='headline--underline f4'>Work Experience</h3>

                        {% for job in content.jobs %}
                            <div class='experience flex flex-column mb4'>
                                <div class='experience--header flex items-start w-100'>
                                    <div class='experience--title w-75 mr2'>
                                        <h3 class='mb1 mt0 f4 black-80'>{{ job.title }}</h3>
                                        <h5 class='mb0 mt0 f5 black-30'>{{ job.company }}</h5>
                                    </div>
                                    <div class='experience--date ba b--black-10 black-30 b f6 pa2 br3 fr tc w-25'>
                                        {{ job.dates.from }}
                                        <i class="fas fa-long-arrow-alt-right"></i>
                                        {{ job.dates.to }}
                                    </div>
                                </div>
                                <div class='experience--body w-100 f6 lh-copy'>
                                    <p>{{ job.summary | urlize | safe }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </main>
            </div>
        </div>
    </article>
{% endblock %}
